@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --font-default:'Montserrat', sans-serif;
  --secondary-font:'Poppins', sans-serif;
  --primary-color:#222831;
  --secondary-color :#8393ca;
  --white-color:#f5f4f4;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
  box-sizing: border-box;
}

//Start Code
.containerMain {
    background: linear-gradient(to right, #02aab0, #00cdac);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

        .containerCard {
            background: #f9fcfb;
            opacity: 0.9;
            box-shadow: 0px 0px 50px 0px #eeeeee;
            border-radius: 1.5rem;
            min-height: 70%;
            width: 60%;
            margin: 4rem 1rem;

                .containerProfil {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    color: var(--primary    -color);
                    margin: 1rem 0rem;
                    img {
                        height: 9rem;
                        max-width: min-content;
                        border-radius: 5rem;
                        border: 3px solid var(--primary-color);
                    }
                    h1 {
                        font-size: 2rem;
                        font-weight: var(--weight-700);
                    }
                    p {
                        font-weight: var(--weight-500);
                    }
                }

                .containerSosmed {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;

                        a {
                            display: flex;
                            text-decoration: none;
                            flex-wrap: wrap;

                            button {
                                display: flex;
                                align-items: center;
                                border: none;
                                justify-content: space-evenly;
                                border-radius: 0.7rem;
                                margin: 2rem 5rem;
                                cursor: pointer;
                                outline-style: none;
                                box-shadow: 0px 0px 15px 10px #ddd;

                                    img {
                                        border-radius: 0.7rem;
                                    }
                                    p {
                                        padding: 0rem 1.5rem;
                                        font-size: 1rem;
                                        font-weight: var(--weight-500);
                                        color: #1a508b; 
                                    }

                                    &:hover {
                                        background:#f9fcfb;
                                        transform: scale(1.2);
                                        transition: 1s;
                                        box-shadow: 0px 0px 20px 15px #ddd;
                                    }
                            }
                        }
                }
        }
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f9fcfb;
            width: 100%;
            height: 5vh;
                p{
                    font-size: 16px;
                    font-weight: var(--weight-600);
                }
                i {
                    color: #07689f;
                }
        }
}





@media (max-width: 1024px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 60%;
                margin: 4rem 1rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 6   rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 3px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 1.3rem;
                            font-weight: var(--weight-700);
                        }
                        p {
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-evenly;
                                    border-radius: 0.7rem;
                                    margin: 1.5rem 5rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.7rem;
                                            height: 5rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 16px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}




@media (max-width: 1392px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 60%;
                margin: 4rem 1rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 7rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 3px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 1.5  rem;
                            font-weight: var(--weight-700);
                        }
                        p {
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-evenly;
                                    border-radius: 0.7rem;
                                    margin: 1.5rem 2rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.7rem;
                                            height: 7rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 16px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}




@media (min-width: 1772px) and (max-width:2560px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 60%;
                margin: 4rem 1rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 7rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 3px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 1.5  rem;
                            font-weight: var(--weight-700);
                        }
                        p {
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-evenly;
                                    border-radius: 0.7rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.7rem;
                                            height: 6.5rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 2rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 16px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}

@media (min-width: 768px) and (max-width :1015px){
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 60%;
                margin: 3rem 0rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 5rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 3px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 1rem;
                            font-weight: var(--weight-700);
                        }
                        p {
                            font-size: 1rem;
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-evenly;
                                    border-radius: 0.7rem;
                                    margin: 1.5rem 3rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.7rem;
                                            height: 5rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 14px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}







@media (max-width: 768px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 60%;
                margin: 3rem 0rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 5rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 3px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 1rem;
                            font-weight: var(--weight-700);
                        }
                        p {
                            font-size: 1rem;
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-evenly;
                                    border-radius: 0.7rem;
                                    margin: 1.5rem 3rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.7rem;
                                            height: 4rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 14px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}

 












@media (max-width: 460px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 90%;
                margin: 3rem 0rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 4rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 3px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 0.8rem;
                            font-weight: var(--weight-700);
                        }
                        p {
                            font-size: 0.8rem;
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-evenly;
                                    border-radius: 0.7rem;
                                    margin: 2em 1rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.7rem;
                                            height: 4rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 12px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}

@media (max-width: 400px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 90%;
                margin: 3rem 0rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 5rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 2px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 1rem;
                            font-weight: var(--weight-700);
                            margin: 0.5rem 0rem;
                        }
                        p {
                            font-size: 1rem;
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-around;
                                    border-radius: 0.4rem;
                                    margin: 1.5rem 1rem;
                                    padding: 0rem 0rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.2rem;
                                            height: 2.6rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 12px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}
@media (max-width: 350px) {
    .containerMain {
        background: linear-gradient(to right, #02aab0, #00cdac);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
            .containerCard {
                background: #f9fcfb;
                opacity: 0.9;
                box-shadow: 0px 0px 50px 0px #eeeeee;
                border-radius: 1.5rem;
                min-height: 70%;
                width: 90%;
                margin: 3rem 0rem;
    
                    .containerProfil {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        color: var(--primary    -color);
                        margin: 1rem 0rem;
                        img {
                            height: 3rem;
                            max-width: min-content;
                            border-radius: 5rem;
                            border: 2px solid var(--primary-color);
                        }
                        h1 {
                            font-size: 0.9rem;
                            font-weight: var(--weight-700);
                            margin: 0.5rem 0rem;
                        }
                        p {
                            font-size: 0.9rem;
                            font-weight: var(--weight-500);
                        }
                    }
    
                    .containerSosmed {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
    
                            a {
                                display: flex;
                                text-decoration: none;
                                flex-wrap: wrap;
    
                                button {
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    justify-content: space-around;
                                    border-radius: 0.4rem;
                                    margin: 1rem 1rem;
                                    padding: 0rem 0rem;
                                    cursor: pointer;
                                    outline-style: none;
                                    box-shadow: 0px 0px 15px 10px #ddd;
    
                                        img {
                                            border-radius: 0.2rem;
                                            height: 2.6rem;
                                        }
                                        p {
                                            padding: 0rem 1.5rem;
                                            font-size: 1rem;
                                            font-weight: var(--weight-500);
                                            color: #1a508b; 
                                        }
    
                                        &:hover {
                                            background:#f9fcfb;
                                            transform: scale(1.2);
                                            transition: 1s;
                                            box-shadow: 0px 0px 20px 15px #ddd;
                                        }
                                }
                            }
                    }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f9fcfb;
                width: 100%;
                height: 5vh;
                    p{
                        font-size: 12px;
                        font-weight: var(--weight-600);
                    }
                    i {
                        color: #07689f;
                    }
            }
    }
}